<!DOCTYPE html>
<html>
  <head>
    <title>FeedbackTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= link_to 'New Feedback', new_feedback_path %>

      <%= flash_messages %>

      <% Integration.all.each do |integration| %>
        <%= button_to "Sync #{integration.source}", integration_sync_path(integration), method: :post %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
